body, html {
    height: 100%;
    margin: 0;
    background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0);
}

.feedback-form {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.feedback-form h2 {
    text-align: center;
}

.feedback-form input, .feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.feedback-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #a7e92f;
    color: white;
    cursor: pointer;
}

.feedback-form button:hover {
    background-color: #a7e92f;
}

